@use '../vars';

.exchange__filters a {
    display: block;
    margin: 16px 0;
    cursor: pointer;
    transition: 0.3s ease;
}
.exchange__filters a:hover {
    color: var(--violete);
}

.exchange__filters form input {
    margin: 12px;
}

.exchange__filters form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:880px) {
    .container .exchange-container .exchange__filters a {
        text-align: center;
    }
    .container .exchange-container .exchange__filters p {
        text-align: center;
        margin-bottom: 8px;
    }
    .exchange-container .exchange__filters form {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container .exchange-container .exchange__filters form input {
        margin: 4px;
    }
}