:root {
    --lightPink: #FCE4EC;
    --mediumPink: #ceb7bf;
    --mediumPink05: #ceb7bf54;
    --lightPink01: #fce4ec15;
    --violete: #7A50FA;
    --purple: #C33DE3;
    --lightBlue: #517de2;
    --blue: #3D6EE3;
    --blue05: #3d6fe31e;
    --cian: #44DEFC;
    --black: rgb(41, 35, 40);
    --black05: rgba(41, 35, 40, 0.7);
    --redWarning: #da8686;
    --redWarningText: #8b0404;
    --greenSuccess: #b5ddb8;
    --greenSuccessText: #186904;
    
    --h1: 4rem;
    --h2: 3rem;
    --h3: 2.5rem;
    --h4: 2rem;
    --text: 1.6rem;
    --text-med: 1.4rem;
    --text-mini: 1.2rem;

    --nav-height: 60px;
}